.task-item {
  min-height: 20px;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  &--completed {
    text-decoration: line-through;
  }

  &__close-btn {
    background: none;
    border: none;
    padding-left: 3px;
    font-size: 13px;
    transition: transform 300ms linear;

    &:hover {
      transform: scale(1.5);
    }
  }
}
